<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="<%- description %>">
  <meta name="description" content="<%- description %>">
  <title time="<%- updateTime -%>">
    <%- title %>
  </title>
</head>

<body>
  <div id="app" style="overflow: hidden;"></div>
  <script type="module" src="/src/main.ts"></script>
  <script lang="javascript" src="/xlsx.core.min.js"></script>
  <!-- <script lang="javascript" src="/fetch-jsonp.js"></script> -->
</body>

</html>